*.log
ProcessLog.txt
Process.txt
config.json
__pycache__/
.pycache
.cadence
models/*
!models
imagecaption_env
process/input/*
!process
!process/input/
process/output/*
!process/output/
results/*
.idea